body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #f76464, #990000); /* Degradado de color rojo */
    color: #fff;
}

form {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
    border: none;
    margin-bottom: 20px;
    padding: 0;
}

legend {
    font-weight: bold;
    text-size-adjust: 40px;
    color: #000000;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="password"],
input[type="number"],
textarea {
    width: calc(100% - 18px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

button {
    padding: 20px 40px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #666;
}

.obligatorio label {
    color: rgb(0, 0, 0);
}

/* Cursor personalizado */
form {
    cursor: crosshair; /* Cursor con forma de cruz en todo el formulario */
}

legend:hover, /* Cuando se pasa sobre el título de la sección */
fieldset:hover:not(:last-of-type), /* Cuando se pasa sobre otros fieldset excepto el último */
label:hover {
    cursor: text; /* Cursor similar a una I mayúscula */
}

/* Cursor personalizado para enlaces visitados y no visitados */
input {
    cursor: crosshair;
}
